<a href="https://colab.research.google.com/github/z018/CJL/blob/main/AIDL20220318.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**範例網址**
https://github.com/PacktPublishing/Learning-Pandas-Second-Edition/blob/master/Chapter09/09_Accessing_Data.ipynb

 **下載msft.csv**

In [ ]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-03-18 05:57:00--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv’

msft.csv            100%[===================>] 149.52K  --.-KB/s    in 0.009s

2022-03-18 05:57:00 (16.5 MB/s) - ‘msft.csv’ saved [153109/153109]

In [ ]:
!ls #檢查目錄 看msft.csv是否存在

msft.csv  sample_data

In [ ]:
!head -n 5 msft.csv #檢查資料是否有data

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

In [ ]:
msft = pd.read_csv("./msft.csv") # 將 msft.csv 讀入 DataFrame
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [ ]:
msft = pd.read_csv("./msft.csv", index_col=0) #使用第0列作為索引
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [ ]:
df2 = pd.read_csv("./msft.csv",           
           usecols=['Date', 'Close'],   #在 Date 與 Close 列中讀取數據
           index_col=['Date'])       #按日期列做出索引
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [ ]:
df2.to_csv("./msft_A999168.csv", index_label='date') #將 df2 保存到新的 csv 文件，並指定命名索引為日期

In [ ]:
!head -n 5 ./msft_A999168.csv #查看剛剛保存的文件的開頭

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

** **下載msft2.csv****

In [ ]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft2.csv

--2022-03-18 06:23:40--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 531 [text/plain]
Saving to: ‘msft2.csv’

msft2.csv           100%[===================>]     531  --.-KB/s    in 0s

2022-03-18 06:23:40 (25.7 MB/s) - ‘msft2.csv’ saved [531/531]

In [ ]:
!ls #檢查目錄

msft2.csv  msft.csv  sample_data

In [ ]:
df = pd.read_csv("./msft2.csv", skiprows=[0, 2, 3]) #讀取msft2.csv，但跳過第0、2、3行
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

**下載msft_with_footer.csv**

In [ ]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_with_footer.csv

--2022-03-18 06:25:39--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_with_footer.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 149 [text/plain]
Saving to: ‘msft_with_footer.csv’

msft_with_footer.cs 100%[===================>]     149  --.-KB/s    in 0s

2022-03-18 06:25:39 (8.88 MB/s) - ‘msft_with_footer.csv’ saved [149/149]

In [ ]:
!cat ./msft_with_footer.csv # 用cat查看數據

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800

Uh oh, there is stuff at the end.

**讀寫excel檔案**

**先在下方圈起來的地方，上傳excel**

![image.png]()

In [ ]:
!ls #檢查

msft2.csv	  msft.csv		sample_data  stocks.xlsx
msft_A999168.csv  msft_with_footer.csv	stocks2.xls

In [ ]:
df = pd.read_excel("./stocks.xlsx") #讀取excel前五筆資料
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [ ]:
aapl = pd.read_excel("./stocks.xlsx", sheet_name='aapl') #從 aapl 工作表中讀取前五筆資料
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [ ]:
df.to_excel("./stocks2.xls") # 保存到工作表 .XLS 文件

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [ ]:
df.to_excel("./stocks_msft.xls", sheet_name='MSFT') #將工作表命名為 MSFT

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [ ]:
!ls #檢查目錄名稱

all_stocks.xls	  msft.csv		stocks2.xls
msft2.csv	  msft_with_footer.csv	stocks_msft.xls
msft_A999168.csv  sample_data		stocks.xlsx

In [ ]:
from pandas import ExcelWriter            #載入ExcelWriter
with ExcelWriter("./all_stocks.xls") as writer:   #all_stocks.xls檔 as 成 writer
    aapl.to_excel(writer, sheet_name='AAPL')   
    df.to_excel(writer, sheet_name='MSFT')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  if self.run_code(code, result):

**讀與寫JSON檔**

In [ ]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/stocks.json

--2022-03-18 07:49:01--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/stocks.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 403 [text/plain]
Saving to: ‘stocks.json’

stocks.json         100%[===================>]     403  --.-KB/s    in 0s

2022-03-18 07:49:01 (33.8 MB/s) - ‘stocks.json’ saved [403/403]

In [ ]:
!ls #檢查json檔有無下載成功

all_stocks.xls	  msft.csv		stocks2.xls	 stocks.xlsx
msft2.csv	  msft_with_footer.csv	stocks.json
msft_A999168.csv  sample_data		stocks_msft.xls

In [75]:
df[:5].to_json("./stocks.json") 讀取json內容
!cat ./stocks.json

{"Date":{"0":1405900800000,"1":1405641600000,"2":1405555200000,"3":1405468800000,"4":1405382400000},"Open":{"0":83.46,"1":83.3,"2":84.35,"3":83.77,"4":84.3},"High":{"0":83.53,"1":83.4,"2":84.63,"3":84.91,"4":84.38},"Low":{"0":81.81,"1":82.52,"2":83.33,"3":83.66,"4":83.2},"Close":{"0":81.93,"1":83.35,"2":83.63,"3":84.91,"4":83.58},"Volume":{"0":2359300,"1":4020800,"2":1974000,"3":1755600,"4":1874700}}

In [77]:
df_from_json = pd.read_json("./stocks.json") 讀前五筆
df_from_json[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [79]:
import pandas as pd

bus_table = pd.read_html("https://www.ubus.com.tw/Booking/FareInquiry")
print(bus_table)

[                國道路線
                路線名稱 全票 / 優惠全票 票價        半票票價  軍優票價    去回票價
                路線名稱         優惠時段  原價時段  半票票價  軍優票價    去回票價
0        【1610】台北－高雄         535元  590元  290元  560元  1,120元
1        【1611】台北－台南         430元  480元  265元    -元    930元
2    【1612】台北－北二高－台南         430元  480元  265元    -元    930元
3   【1612】台北－北二高－北港路         400元  420元  220元    -元      -元
4        【1613】台北－屏東         560元  620元  325元    -元      -元
..               ...          ...   ...   ...   ...     ...
55       【1663】南港－北埔         290元  320元  195元    -元      -元
56       【1663】南港－新城         260元  290元  175元    -元      -元
57       【1650】高雄－北港         220元  220元  110元    -元      -元
58       【1651】高雄－北港         220元  220元  110元    -元      -元
59      【1651】高雄－北港路         175元  175元   90元    -元      -元

[60 rows x 6 columns],            短區間販售票價表
   ※下列短區間請至各自營站現場購買
               路線名稱 全票 / 優惠全票 票價        半票票價 軍優票價 去回票價
               路線名稱         優惠時段  原價時段  半票票價 軍優票價 去回票價
0           台北 - 南崁          55元   55元   25元   -元   -元
1         台北 - 中壢新屋          90元   90元   45元   -元   -元
2           台北 - 竹科         140元  140元   70元   -元   -元
3        台北 - 中港轉運站         250元  270元  140元   -元   -元
4        市府轉運站 - 三峽          75元   75元   35元   -元   -元
..              ...          ...   ...   ...  ...  ...
34       板橋 - 中港轉運站         240元  270元  140元   -元   -元
35       中和 - 中港轉運站         240元  260元  130元   -元   -元
36       中港轉運站 - 中和         240元  260元  130元   -元   -元
37       中港轉運站 - 三峽         240元  260元  130元   -元   -元
38       三峽 - 中港轉運站         240元  260元  130元   -元   -元

[39 rows x 6 columns],                 國道路線
                路線名稱 全票 / 優惠全票 票價        半票票價 Unnamed: 4_level_1 Unnamed: 5_level_1
                路線名稱         優惠時段  原價時段  半票票價 Unnamed: 4_level_2 Unnamed: 5_level_2
0        【1610】台北－高雄         490元  490元  240元                NaN                NaN
1        【1611】台北－台南         410元  440元  220元                NaN                NaN
2    【1612】台北－北二高－台南         410元  450元  220元                NaN                NaN
3   【1612】台北－北二高－北港路         360元  360元  180元                NaN                NaN
4        【1613】台北－屏東         550元  560元  280元                NaN                NaN
..               ...          ...   ...   ...                ...                ...
56  【1662】經國轉運站-松山機場          51元   51元   26元                NaN                NaN
57       【1650】高雄－北港         220元  220元  110元                NaN                NaN
58       【1651】高雄－北港         220元  220元  110元                NaN                NaN
59       【1651】高雄－麻豆         115元  115元   55元                NaN                NaN
60       【1660】板橋－高雄         490元  500元  250元                NaN                NaN

[61 rows x 6 columns],            短區間販售票價表
   ※下列短區間請至各自營站現場購買
               路線名稱 全票 / 優惠全票 票價        半票票價 Unnamed: 4_level_2 Unnamed: 5_level_2
               路線名稱         優惠時段  原價時段  半票票價 Unnamed: 4_level_3 Unnamed: 5_level_3
0           台北 - 南崁          40元   40元   20元                NaN                NaN
1         台北 - 中壢新屋          75元   75元   35元                NaN                NaN
2           台北 - 竹科         110元  110元   50元                NaN                NaN
3        台北 - 中港轉運站         230元  240元  120元                NaN                NaN
4        市府轉運站 - 三峽          60元   60元   30元                NaN                NaN
..              ...          ...   ...   ...                ...                ...
38       板橋 - 中港轉運站         220元  235元  115元                NaN                NaN
39       中和 - 中港轉運站         210元  220元  110元                NaN                NaN
40       中港轉運站 - 中和         210元  220元  110元                NaN                NaN
41       中港轉運站 - 三峽         220元  220元  110元                NaN                NaN
42       三峽 - 中港轉運站         220元  220元  110元                NaN                NaN

[43 rows x 6 columns],           轉乘桃園機場票價表
   ※下列短區間請至各自營站現場購買
                 區間            全票            半票
0        桃園機場 - 三條崙  395+45=440 元  190+20=210 元
1         桃園機場 - 台北   70+45=115 元    35+20=55 元
2         桃園機場 - 台南  405+45=450 元  190+20=210 元
3      桃園機場 - 員林.西港  275+45=320 元  130+20=150 元
4         桃園機場 - 嘉義  375+45=420 元  180+20=200 元
..              ...           ...           ...
6         桃園機場 - 彰化  265+45=310 元  120+20=140 元
7      桃園機場 - 竹山.南投  275+45=320 元  130+20=150 元
8      桃園機場 - 西螺.虎尾  335+45=380 元  160+20=180 元
9      桃園機場 - 豐原.東勢  215+45=260 元  110+20=130 元
10        桃園機場 - 高雄  515+45=560 元  250+20=270 元

[11 rows x 3 columns]]

In [80]:
print("型態：", type(bus_table))
print("長度：", len(bus_table))

型態： <class 'list'>
長度： 5

In [81]:
bus_df = bus_table[0]  #讀取第一個表格
print(bus_df)

                國道路線
                路線名稱 全票 / 優惠全票 票價        半票票價  軍優票價    去回票價
                路線名稱         優惠時段  原價時段  半票票價  軍優票價    去回票價
0        【1610】台北－高雄         535元  590元  290元  560元  1,120元
1        【1611】台北－台南         430元  480元  265元    -元    930元
2    【1612】台北－北二高－台南         430元  480元  265元    -元    930元
3   【1612】台北－北二高－北港路         400元  420元  220元    -元      -元
4        【1613】台北－屏東         560元  620元  325元    -元      -元
..               ...          ...   ...   ...   ...     ...
55       【1663】南港－北埔         290元  320元  195元    -元      -元
56       【1663】南港－新城         260元  290元  175元    -元      -元
57       【1650】高雄－北港         220元  220元  110元    -元      -元
58       【1651】高雄－北港         220元  220元  110元    -元      -元
59      【1651】高雄－北港路         175元  175元   90元    -元      -元

[60 rows x 6 columns]